<div class="container">
  <%= link_to 'Add Contact', new_contact_path, :class => 'btn btn-default' %>
  <% if !@user.contacts.any? %>
    <h1 class="text-center no-contacts">You have no contacts</h1>
  <% else %>
    <table class="table table-striped table-bordered">
      <tr>
        <th>First Name</th>
        <th>Last Name</th>
      </tr>
      <% @user.contacts.each do |contact| %>
      <tr data-link='<%= contact_path(contact) %>'>
        <td><%= contact.last_name %></td>
        <td><%= contact.first_name %></td>
      </tr>
      <% end %>
    </table>
  <% end %>
</div>
